<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>管理</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport"/>
  	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/showView.css">
	<!-- 引入Echarts-->
	<script type="text/javascript" src="Https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.js"></script>
	
</head>
<body class="hold-transition skin-red sidebar-mini">
		<script src="/layui/layui.js"></script>
			<div class='panel-head'>
				<p style="heifht:1rem;width:auto;margin-top:2rem;color:rgba(255,255,255,.7)">订单大数据分析<p>
			</div>
			<div class='left-panel' >
				<a id="categoryAmt"><li>商品种类分布</li></a>
				<!--  <a ng-click="dataViewStatus=1;searchStatus=0;findSellTop5()"><li id="sellTop5">日销售top5</li></a>
				<li ng-click="dataViewStatus=1;searchStatus=0;findCityTop()">成交额TOP5城市</li>
				<li ng-click="searchStatus=1;dataViewStatus=0">商品推荐</li>-->
			</div>
			<div class='box-main'>
				
				<div class="searchContainer" ng-if="searchStatus==1">
					<div class="search bar5">
				        <form>
				            <input ng-model="searchEntity.searchCustId" type="text" placeholder="请输入用户ID...">
				            <button ng-click="goodsRecommend()" type="submit">推荐</button>
				        </form>
				    </div>
				   	
				</div>
				<div id="main" style="float:left;height:60rem;width: 120rem;margin-top:4rem;margin-left:5%"></div> 
				


			</div>
		
	
	
			



	
	  <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=IDaCYHo0xg9xXyESke6txsdfmZ7jcvNH&__ec_v__=20190126"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
	
	<script>
			
				var myChart = echarts.init(document.getElementById('main'));//定义Echarts实例
				onclick1 = function (option) {
					myChart.clear();
					document.getElementById('main').style.marginTop='4rem';
					/*
						数据处理					
					*/
						var categoryAmt=[''];//定义x轴数据源
						var category=[];//定义y轴数据源
						var total=0,top4=0;
						$.get("/findCategoryAmt",function(data,status){
							var categoryAmtList = data;
						});
			 			for(var i=0;i<categoryAmtList.length;i++){
			 				total += categoryAmtList[i]['goodsSellAmt'];
			 				category.push(categoryAmtList[i]['categoryName']);						
			 			}
			 			for(var i=0;i<8;i++){
			 				top4 += categoryAmtList[i]['goodsSellAmt'];
			 				categoryAmt.push({name:categoryAmtList[i]['categoryName'],value:categoryAmtList[i]['goodsSellAmt']});
			 			}
			 			categoryAmt.push({name:'其它',value:total-top4});
						var optionCircul = {
								    title : {
								        text: '各种类销售额',
								        textStyle:{
								        	fontFamily: 'YouYuan',
								        	color:'rgba(255,255,255,.8)'
								        },
								        x:'center'
								    },
								    tooltip : {
								        trigger: 'item',
								        formatter: "{a} <br/>{b} : {c} ({d}%)",
								        textStyle: {
								            "fontSize": 25
								        }
								    },
								    legend: {
								        orient: 'vertical',
								        left: 'left',
								        data: category,//图例
								        textStyle: {
								            fontSize: 18,
								            fontFamily: 'YouYuan',
								            color:'rgba(255,255,255,.8)'
								        }
								    },
								    series : [
								        {
								            name: '商品种类:',
								            type: 'pie',
								            radius : '65%',
								            center: ['50%', '40%'],
								            data:categoryAmt,
								            itemStyle: {
								                emphasis: {
								                    shadowBlur: 10,
								                    shadowOffsetX: 0,
								                    shadowColor: 'rgba(0, 0, 0, 0.5)'
								                }
								            },
								            label: {
									            "fontSize": 22,
									            fontFamily: 'YouYuan'
									        	
									        }
								        }
								    ]
						};				
						myChart.setOption(optionCircul,true);//渲染图表												
		}
			
	
	</script>
</body>
</html>
